#addForm {
    width: 50%;
    height: 90%;
    margin: 5% auto;
    padding: 5em;
    background-color: rgba(256,256,256,0.7);
    border-radius: 18px 3px;
}

#add-button {
    padding: 3px;
    margin: auto;
}

#btn-div {
    margin-top: 2em;
}

@media (max-width: 768px){
    #addForm {
       width: 80%;
        margin: 10% auto;
    }
}