
label {
    margin: auto 0;
}

header {
    position: fixed;
    top:0;
    width:40%;
}
header h1 {
    text-align: center;
}
.accordion {
    width: 100%;
    margin: auto;
}

.MuiTextField-root {
    width: 50%;
    position: center;
}

.accordion-container {
    width: 100%;
    min-width: 310px;
    max-width: 600px;
    margin: auto;
}

.myDiv{
    margin-top: 100px;
}
.accordion-item {
    background-color: rgba(202, 240, 248, 0.8)!important;
    border-radius: 10px!important;
    box-shadow: 2px 16px 32px rgba( 3, 4, 94,0.66)!important;
    margin: 5px!important;
}

#delete-icon, #save-icon {
    color: rgba(3, 4, 94, 1);
}

#edit-button, #cancel-button {
    color: rgba(3, 4, 94, 1);
    border-color: rgba(3, 4, 94, 1);
}

@media (max-width: 768px){
    .accordion-container {
        max-width: 80%;
    }

    header {
        width:80%;
    }
}
