body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: linear-gradient(120deg, #03045e 0%, #0077b6 50%, #00b4d8 75%, #90e0ef 100%) !important;*/
  /*background-image: url("./assets/raft1.png") !important;*/
  background-image: url("./assets/bckimg.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.sidebar{
  max-width: 576px;
  border:10px solid rgba(0,0,0,0.1);
}